{% extends 'base.html' %}
{% block title %}
    Automation Workflow
{% endblock %}

{% block content %}
        <main class="main-container">   
            <div class="main-title">
                <h2>Create New Workflow</h2>
            </div>
            <div>
                <form action="/createwf" method="post">
                    <label for="workflow_name">Name Your Workflow:</label><br>
                    <input type="text" id="workflow_name" name="workflow_name"><br><br>
                    
                    
                    <div id="urls_container">
                        <div class="url_input">
                            <label for="url_input_1">Add New URL:</label>
                            <input type="text" id="url_input_1" name="url_input_1">
                            <button type="button" class="delete_url_button">Delete URL</button>
                        </div>
                    </div>
            
                    <button type="button" id="add_url_button">Add Another URL</button><br><br>
            

                    <label for="hotkeys">Assign Workflow Hotkeys: e.g. Ctrl+Alt+W</label><br>
                    <input type="text" id="hotkeys" name="hotkeys"><br><br>
                    
                    <input type="submit" value="Save Workflow">
                </form>
            </div>
        </main>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var urlsContainer = document.getElementById('urls_container');
                var addUrlButton = document.getElementById('add_url_button');
                var urlCount = 1;
    
                addUrlButton.addEventListener('click', function () {
                    urlCount++;
                    var newUrlInput = document.createElement('div');
                    newUrlInput.innerHTML = `
                        <div class="url_input">
                            <label for="url_input_${urlCount}">Add Another URL:</label>
                            <input type="text" id="url_input_${urlCount}" name="url_input_${urlCount}">
                            <button type="button" class="delete_url_button">Delete URL</button>
                        </div>`;
                    urlsContainer.appendChild(newUrlInput);
                });

                urlsContainer.addEventListener('click', function (event) {
                    if (event.target.classList.contains('delete_url_button')) {
                        event.target.parentElement.remove();
                    }
                });

                var form = document.querySelector('form');
                form.addEventListener('submit', function () {
                    var hiddenInput = document.createElement('input');
                    hiddenInput.type = 'hidden';
                    hiddenInput.name = 'urlCount';
                    hiddenInput.value = urlCount;
                    form.appendChild(hiddenInput);
                });    
            });
    </script>
{% endblock %}