{% extends 'base.html' %}
{% block title %}
    Automation Workflow
{% endblock %}

{% block content %}
        <main class="main-container">   
            <div class="main-title">
                <h2>Dashboard</h2>
            </div>

            <div class="main-cards">

                <div class="card">
                    <div class="card-inner">
                        <h1>Workflow Name</h1> 
                    </div>
                    <h3>Urls:</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <span class="material-icons-outlined">edit</span> Manage Workflow
                        <span class="material-icons-outlined">open_in_browser</span> Open Workflow
                      </ul>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h1>Workflow Name</h1> 
                    </div>
                    <h3>Urls:</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <span class="material-icons-outlined">edit</span> Manage Workflow
                        <span class="material-icons-outlined">open_in_browser</span> Open Workflow
                      </ul>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h1>Workflow Name</h1> 
                    </div>
                    <h3>Urls:</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <span class="material-icons-outlined">edit</span> Manage Workflow
                        <span class="material-icons-outlined">open_in_browser</span> Open Workflow
                      </ul>
                </div>

                <div class="card">
                    <div class="card-inner">
                      <h3>Scheduler/Timer</h3>
                      <span class="material-icons-outlined">schedule</span>
                    </div>
                    <div>
                        <p>Add Workflows to the Schedule</p>
                    </div>
                </div>
                



            </div>
            
            <div class="main-cards">

                <div class="card">
                    <div class="card-inner">
                        <h1>Workflow Name</h1> 
                    </div>
                    <h3>Urls:</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <span class="material-icons-outlined">edit</span> Manage Workflow
                        <span class="material-icons-outlined">open_in_browser</span> Open Workflow
                      </ul>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h1>Workflow Name</h1> 
                    </div>
                    <h3>Urls:</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <li class="card-list-item">
                            <span>dashboard</span>
                        </li>
                        <span class="material-icons-outlined">edit</span> Manage Workflow
                        <span class="material-icons-outlined">open_in_browser</span> Open Workflow
                      </ul>
                </div>

            </div>

        </main>
    </div>
{% endblock %}