{% extends 'base.html' %}
{% block title %}
    Automation Workflow
{% endblock %}

{% block content %}
        <main class="main-container">   
            <div class="main-title">
                <h2>Manage Workflows</h2>
            </div>

            <form action="/manage_workflow" method="post">
                
                <label for="workflow_select">Select Workflow to Manage:</label><br>
                <select id="workflow_select" name="workflow_select">
                    <option value="Chrome">select workflow</option>
                </select><br><br>
                
                <label for="change_workflow_name">Change Workflow Name:</label><br>
                <input type="text" id="change_workflow_name" name="change_workflow_name"><br><br>

                <label for="workflow_select">Select Workflow to Manage:</label><br>
                <select id="workflow_select" name="workflow_select">
                    <option value="Chrome">select color</option>
                    <option value="Chrome">red</option>
                    <option value="Chrome">blue</option>
                    <option value="Chrome">green</option>
                </select><br><br>
                
                <div id="urls_container">
                    <div class="url_input">
                        <label for="url_input_1">Add New URL:</label>
                        <input type="text" id="url_input_1" name="url_input_1">
                        <button type="button" class="delete_url_button">Delete URL</button>
                    </div>
                </div>
        
                <button type="button" id="add_url_button">Add Another URL</button><br><br>
                

                <label for="workflow_hotkeys">Add/Change Workflow Hot Keys: e.g. Ctrl+Alt+W</label><br>
                <input type="text" id="workflow_hotkeys" name="workflow_hotkeys"><br><br>
                
                <input type="submit" value="Update Workflow">

                <button type="button" id="btn btn-danger ">Delete Workflow</button><br><br>
        
            </form>
        </main>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var urlsContainer = document.getElementById('urls_container');
                var addUrlButton = document.getElementById('add_url_button');
                var urlCount = 1;
    
                addUrlButton.addEventListener('click', function () {
                    urlCount++;
                    var newUrlInput = document.createElement('div');
                    newUrlInput.innerHTML = `
                        <div class="url_input">
                            <label for="url_input_${urlCount}">Add Another URL:</label>
                            <input type="text" id="url_input_${urlCount}" name="url_input_${urlCount}">
                            <button type="button" class="delete_url_button">Delete URL</button>
                        </div>`;
                    urlsContainer.appendChild(newUrlInput);
                });

                urlsContainer.addEventListener('click', function (event) {
                if (event.target.classList.contains('delete_url_button')) {
                    event.target.parentElement.remove();
                }
            });
        });
    </script>

        
{% endblock %}